@model Model.Cadastros.Instituicao

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    @{await Html.RenderPartialAsync("_DetailsContent"); }

    <form asp-action="Delete">
        <input type="hidden" asp-for="InstituicaoID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
