@model Model.Cadastros.Instituicao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    @{await Html.RenderPartialAsync("_DetailsContent"); }
</div>
<div class="mb-3">
    @{await Html.RenderPartialAsync("_Departamento", Model.Departamentos.OrderBy(d => d.Nome).ToList()); }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InstituicaoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
